<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
<bean id="refobjmath" class="com.sleniumexpress.MathCheat"></bean>    
<bean id="refobjscience" class="com.sleniumexpress.ScienceCheat"></bean> 
<bean id = "refobjJava" class = "com.sleniumexpress.JavCheat"></bean>    
<bean id = "student" class = "com.sleniumexpress.Student">
<property name="cheat" ref ="refobjJava">

</property>
</bean>


</beans>